
<h1>Invoice #: <%= @invoice.id %></h1>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer First Name: <%= @invoice.customer.first_name %></p>
<p>Customer Last Name: <%= @invoice.customer.last_name %></p>
<p>Total Revenue Generated: <%= number_to_currency(@invoice.total_revenue/100, precision: 0) %></p>
<p>Total Discounted Revenue: <%= number_to_currency(@invoice.total_discounted_revenue/100, precision: 0) %></p>
<p>
  <%= form_with model: [:admin, @invoice], local: true do |form| %>
    <%= form.label "Status:" %>
    <%= form.select :status, [:pending, :cancelled, "in progress", :completed], selected: @invoice.status %>
    <%= form.submit "Update Invoice Status" %>
  <% end %>
</p>


<% @invoice.invoice_items.each do |invoice_item| %>
<section id="invoice_show-<%=@invoice.id%>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Item Quantity: <%= invoice_item.quantity %></p>
    <p>Item Unit Price: <%= number_to_currency(invoice_item.unit_price/100, precision: 0)%></p>
    <p>Item Status: <%= invoice_item.status %></p>
  </section>
<% end %>
